src/template/pages/catalog.pug
extends ../layout
block vars
    - var bodyClass= "inner-page";

mixin navigationItem(link, desc)
    li(class="navigation__item")
        a(href=link class="navigation__link")= desc


block title
    | Главная страница

block content
    header(class="main-header")
        div(class="container")
            div(class="top-menu")
                a(href="#" class="header-logo")
                    +icon("nerds-logo", 160, 70, "#000")

                nav(class="main-nav")
                    ul(class="navigation")
                        +navigationItem("#", "Студия")
                        +navigationItem("#", "Клиенты")
                        +navigationItem("#", "Магазин")
                        +navigationItem("#", "Контакты")

                ul(class="cart")
                    li(class="cart__item")
                        +icon("cart", 15, 15, "#a6a6a6")
                        a(href="#" class="cart__link") Корзина

            h1(class="main-header__title") Магазин готовых шаблонов

    aside(class="filter")
        h2(class="visually-hidden") Фильтр шаблонов
        form(class="form-filter" method="post" action="https://echo.htmlacademy.ru")










block globalScripts


block localScripts

build/catalog.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/main.min.css">
  </head>
  <body class="inner-page">
    <div class="wrapper">
      <header class="main-header">
        <div class="container">
          <div class="top-menu"><a class="header-logo" href="#">
              <svg class="icon icon-nerds-logo" width="160" height="70" fill="#000">
                <use xlink:href="assets/spriteSVG.svg#nerds-logo"></use>
              </svg></a>
            <nav class="main-nav">
              <ul class="navigation">
                <li class="navigation__item"><a class="navigation__link" href="#">Студия</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#">Клиенты</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#">Магазин</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#">Контакты</a></li>
              </ul>
            </nav>
            <ul class="cart">
              <li class="cart__item">
                <svg class="icon icon-cart" width="15" height="15" fill="#a6a6a6">
                  <use xlink:href="assets/spriteSVG.svg#cart"></use>
                </svg><a class="cart__link" href="#">Корзина</a>
              </li>
            </ul>
          </div>
          <h1 class="main-header__title">Магазин готовых шаблонов</h1>
        </div>
      </header>
      <aside class="filter">
        <h2 class="visually-hidden">Фильтр шаблонов</h2>
        <form class="form-filter" method="post" action="https://echo.htmlacademy.ru"></form>
      </aside>
    </div>
    <script src="js/vendor.min.js"></script>
    
  </body>
</html>
