src/template/pages/index.pug
extends ../layout

mixin navigationItem(link, desc)
    li(class="navigation__item")
        a(href=link class="navigation__link")= desc

mixin sliderItem(tagline, desc, className)
    li(class="slider__item " + className)
        b(class="slider__tagline")= tagline
        p(class="slider__desc")= desc
        button(type="button" class="btn slider__btn") Узнать больше

mixin serviceItem(title, desc, imgSrc, imgAlt, btnClass)
    li(class="services__item")
        h2(class="service__title")= title
        p(class="service__desk")= desc
        img(src=imgSrc width="300px" height="145px" alt=imgAlt class="service__img")
        a(href="#" class="btn service__btn " + btnClass) Заказать

mixin aboutCompItem(percent, desc)
    li(class="about-company-list__item")
        b(class="about-company__percent")=percent
            span(class="about-company__percent--sup") %
        p(class="about-company__desc")= desc

mixin projetItem(link, srcIMG, altIMG, classIMG)
    li(class="projects-list__item")
        a(class="projects-list__link" href=link)
            img(src=srcIMG width=173 height=84 alt=altIMG class="projects-list__img projects-list__img--" + classIMG)

mixin contactsItem(link, svgName, socialName)
    li(class="contacts-list__item")
        a(href=link class="contacts-list__link")
            +icon(svgName, 20, 20, "#000")
            span(class="visually-hidden")= socialName

block title
    | Главная страница

block content
    header(class="main-header")
        div(class="container")
            div(class="top-menu")
                a(href="catalog.html" class="header-logo")
                    +icon("nerds-logo", 160, 70, "#000")

                nav(class="main-nav")
                    ul(class="navigation")
                        +navigationItem("#", "Студия")
                        +navigationItem("#", "Клиенты")
                        +navigationItem("#", "Магазин")
                        +navigationItem("#", "Контакты")

                ul(class="cart")
                    li(class="cart__item")
                        +icon("cart", 15, 15, "#a6a6a6")
                        a(href="#" class="cart__link") Корзина

            ul(class="slider")
                +sliderItem("Долго, дорого, скрупулезно.", "Математически выверенный дизайн для вашего сайта или мобильного приложения", "slider__item--current")
                +sliderItem("Любим математику как никто другой", "Никакого креатива, только математические формулы  для расчета идеальных пропорций")
                +sliderItem("Только ночь, только хардкор", "Работать днем, как все? Мы против этого. Ближе к полуночи работа только начинается ")
                li(class="slider-nav-wrapper")
                    ul(class="slider-nav")
                        each className in ['slider-nav__button--current', '', '']
                            li(class="slider-nav__item")
                                button(type="button" class="slider-nav__button " + className)

    main(class="container")
        h1(class="visually-hidden") Дизайн-студия «Nerd's»
        article(class="services")
            h2(class="visually-hidden") Наши услуги
            div(class="services-wrapper")
                ul(class="services-list")
                    +serviceItem("Веб-сайты", "Мир никогда не будет прежним после того как увидит ваш сайт!", "/assets/webSites.jpg", "Веб-сайты")
                    +serviceItem("Приложения", "Покорите топ-10 приложений в AppStore и Google Play", "/assets/mobiles.jpg", "Приложения", "service__btn--green")
                    +serviceItem("Презентации", "Вы даже не подозреваете,  насколько вы изумительны!", "/assets/presentation.jpg", "Презентации", "service__btn--yellow")

        div(class="about-wrapper")
            section(class="about-us")
                h2(class="about-us__title") Мы — маленькая, но гордая дизайн-студия из Краснодара.
                p(class="about-us__desc") Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше креатива. Работает не покладая рук, как роботы.
                div(class="orders-wrapper")
                    h3(class="orders-title") Выполняем заказы на разработку:
                    ul(class="orders-list")
                        each desc in ["Веб-сайтов любой сложности", "Мобильных приложений для iOS и Android", "Слайдшоу и видео для корпоративных презентаций"]
                            li(class="orders-list__item")= desc

            section(class="about-company")
                h2(class="visually-hidden") О нашей компании
                img(src="/assets/nerds-logo2.png" width="360" height="208" alt="Дизайн-студия «Nerd's»")
                b(class="about-company__tagline") с 2004 года любим точность во всем:
                ul(class="about-company-list")
                    +aboutCompItem("146", "Уровень самоотдачи")
                    +aboutCompItem("100", "Соблюдение сроков")
                    +aboutCompItem("50", "Минимальная предоплата")

        section(class="projects")
            h2(class="visually-hidden") Наши проекты
            ul(class="projects-list")
                +projetItem("#", "/assets/mishka.png", "mishka", "mishka")
                +projetItem("#", "/assets/mishka.png", "mishka", "mishka")
                +projetItem("#", "/assets/mishka.png", "mishka", "mishka")
                +projetItem("#", "/assets/mishka.png", "mishka", "mishka")

    footer(class="main-footer")
        h2(class="visually-hidden") Как с нами связаться
        div(class="main-footer-wrapper")
            img(src="/assets/map.jpg" width="100%" height="420"  alt="131444, Краснодар, ул. Пушкина, д. 19/9" class="main-footer__map")
            div(class="container")
                section(class="write-us")
                    h3(class="write-us__title") Nerds design studio
                    p(class="write-us__address") 131444, Краснодар, ул. Пушкина, д. 19/9
                    p(class="write-us__phone") тел. +7(982)2342342
                    button(type="button" class="btn write-us__btn") Напишите нам

        section(class="contacts container")
            h2(class="visually-hidden") Наши социальные сети!
            ul(class="contacts-list")
                +contactsItem("#", "vk", "Вконтакте")
                +contactsItem("#", "fb", "Фейсбук")
                +contactsItem("#", "insta", "Инстаграм")

            div(class="offer")
                b(class="offer__title") Давайте дружить, это выгодно!
                p(class="offer__desc") Скидка 10% для друзей из социальных сетей.

    section(class="modal modal-write-us")
        h2(class="modal-write-us__title") Напишите нам
        form(class="write-us-form" method="post" action="https://echo.htmlacademy.ru")
            div(class="form-wrapper")
                p(class="write-us-form__item")
                    label(class="write-us-form__label" for="write-us-form-name") Ваше имя:
                    input(class="write-us-form__input" type="text" id="write-us-form-name" name="name" placeholder="Имя Фамилия")
                p(class="write-us-form__item")
                    label(class="write-us-form__label" for="write-us-form-email") Ваш e-mail:
                    input(class="write-us-form__input" type="text" id="write-us-form-email" name="email" placeholder="email@example.com")
            p(class="write-us-form__item")
                label(class="write-us-form__label" for="write-us-form-message") Текст письма:
                textarea(class="write-us-form__textarea" id="write-us-form-message" name="message" placeholder="В свободной форме")
            button(type="submit" class="btn write-us-form-btn") Отправить
            button(type="button" class="modal-close")
    div(class="overlay")


block globalScripts

block localScripts
    script(src="/js/modal-write-us.js")
    script(src="/js/slider.js")

build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="main-header">
        <div class="container">
          <div class="top-menu"><a class="header-logo" href="catalog.html">
              <svg class="icon icon-nerds-logo" width="160" height="70" fill="#000">
                <use xlink:href="assets/spriteSVG.svg#nerds-logo"></use>
              </svg></a>
            <nav class="main-nav">
              <ul class="navigation">
                <li class="navigation__item"><a class="navigation__link" href="#">Студия</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#">Клиенты</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#">Магазин</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#">Контакты</a></li>
              </ul>
            </nav>
            <ul class="cart">
              <li class="cart__item">
                <svg class="icon icon-cart" width="15" height="15" fill="#a6a6a6">
                  <use xlink:href="assets/spriteSVG.svg#cart"></use>
                </svg><a class="cart__link" href="#">Корзина</a>
              </li>
            </ul>
          </div>
          <ul class="slider">
            <li class="slider__item slider__item--current"><b class="slider__tagline">Долго, дорого, скрупулезно.</b>
              <p class="slider__desc">Математически выверенный дизайн для вашего сайта или мобильного приложения</p>
              <button class="btn slider__btn" type="button">Узнать больше</button>
            </li>
            <li class="slider__item undefined"><b class="slider__tagline">Любим математику как никто другой</b>
              <p class="slider__desc">Никакого креатива, только математические формулы  для расчета идеальных пропорций</p>
              <button class="btn slider__btn" type="button">Узнать больше</button>
            </li>
            <li class="slider__item undefined"><b class="slider__tagline">Только ночь, только хардкор</b>
              <p class="slider__desc">Работать днем, как все? Мы против этого. Ближе к полуночи работа только начинается </p>
              <button class="btn slider__btn" type="button">Узнать больше</button>
            </li>
            <li class="slider-nav-wrapper">
              <ul class="slider-nav">
                <li class="slider-nav__item">
                  <button class="slider-nav__button slider-nav__button--current" type="button"></button>
                </li>
                <li class="slider-nav__item">
                  <button class="slider-nav__button " type="button"></button>
                </li>
                <li class="slider-nav__item">
                  <button class="slider-nav__button " type="button"></button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </header>
      <main class="container">
        <h1 class="visually-hidden">Дизайн-студия «Nerd's»</h1>
        <article class="services">
          <h2 class="visually-hidden">Наши услуги</h2>
          <div class="services-wrapper">
            <ul class="services-list">
              <li class="services__item">
                <h2 class="service__title">Веб-сайты</h2>
                <p class="service__desk">Мир никогда не будет прежним после того как увидит ваш сайт!</p><img class="service__img" src="/assets/webSites.jpg" width="300px" height="145px" alt="Веб-сайты"/><a class="btn service__btn undefined" href="#">Заказать</a>
              </li>
              <li class="services__item">
                <h2 class="service__title">Приложения</h2>
                <p class="service__desk">Покорите топ-10 приложений в AppStore и Google Play</p><img class="service__img" src="/assets/mobiles.jpg" width="300px" height="145px" alt="Приложения"/><a class="btn service__btn service__btn--green" href="#">Заказать</a>
              </li>
              <li class="services__item">
                <h2 class="service__title">Презентации</h2>
                <p class="service__desk">Вы даже не подозреваете,  насколько вы изумительны!</p><img class="service__img" src="/assets/presentation.jpg" width="300px" height="145px" alt="Презентации"/><a class="btn service__btn service__btn--yellow" href="#">Заказать</a>
              </li>
            </ul>
          </div>
        </article>
        <div class="about-wrapper">
          <section class="about-us">
            <h2 class="about-us__title">Мы — маленькая, но гордая дизайн-студия из Краснодара.</h2>
            <p class="about-us__desc">Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше креатива. Работает не покладая рук, как роботы.</p>
            <div class="orders-wrapper">
              <h3 class="orders-title">Выполняем заказы на разработку:</h3>
              <ul class="orders-list">
                <li class="orders-list__item">Веб-сайтов любой сложности</li>
                <li class="orders-list__item">Мобильных приложений для iOS и Android</li>
                <li class="orders-list__item">Слайдшоу и видео для корпоративных презентаций</li>
              </ul>
            </div>
          </section>
          <section class="about-company">
            <h2 class="visually-hidden">О нашей компании</h2><img src="/assets/nerds-logo2.png" width="360" height="208" alt="Дизайн-студия «Nerd's»"><b class="about-company__tagline">с 2004 года любим точность во всем:</b>
            <ul class="about-company-list">
              <li class="about-company-list__item"><b class="about-company__percent">146<span class="about-company__percent--sup">%</span></b>
                <p class="about-company__desc">Уровень самоотдачи</p>
              </li>
              <li class="about-company-list__item"><b class="about-company__percent">100<span class="about-company__percent--sup">%</span></b>
                <p class="about-company__desc">Соблюдение сроков</p>
              </li>
              <li class="about-company-list__item"><b class="about-company__percent">50<span class="about-company__percent--sup">%</span></b>
                <p class="about-company__desc">Минимальная предоплата</p>
              </li>
            </ul>
          </section>
        </div>
        <section class="projects">
          <h2 class="visually-hidden">Наши проекты</h2>
          <ul class="projects-list">
            <li class="projects-list__item"><a class="projects-list__link" href="#"><img class="projects-list__img projects-list__img--mishka" src="/assets/mishka.png" width="173" height="84" alt="mishka"/></a></li>
            <li class="projects-list__item"><a class="projects-list__link" href="#"><img class="projects-list__img projects-list__img--mishka" src="/assets/mishka.png" width="173" height="84" alt="mishka"/></a></li>
            <li class="projects-list__item"><a class="projects-list__link" href="#"><img class="projects-list__img projects-list__img--mishka" src="/assets/mishka.png" width="173" height="84" alt="mishka"/></a></li>
            <li class="projects-list__item"><a class="projects-list__link" href="#"><img class="projects-list__img projects-list__img--mishka" src="/assets/mishka.png" width="173" height="84" alt="mishka"/></a></li>
          </ul>
        </section>
      </main>
      <footer class="main-footer">
        <h2 class="visually-hidden">Как с нами связаться</h2>
        <div class="main-footer-wrapper"><img class="main-footer__map" src="/assets/map.jpg" width="100%" height="420" alt="131444, Краснодар, ул. Пушкина, д. 19/9">
          <div class="container">
            <section class="write-us">
              <h3 class="write-us__title">Nerds design studio</h3>
              <p class="write-us__address">131444, Краснодар, ул. Пушкина, д. 19/9</p>
              <p class="write-us__phone">тел. +7(982)2342342</p>
              <button class="btn write-us__btn" type="button">Напишите нам</button>
            </section>
          </div>
        </div>
        <section class="contacts container">
          <h2 class="visually-hidden">Наши социальные сети!</h2>
          <ul class="contacts-list">
            <li class="contacts-list__item"><a class="contacts-list__link" href="#">
                <svg class="icon icon-vk" width="20" height="20" fill="#000">
                  <use xlink:href="assets/spriteSVG.svg#vk"></use>
                </svg><span class="visually-hidden">Вконтакте</span></a></li>
            <li class="contacts-list__item"><a class="contacts-list__link" href="#">
                <svg class="icon icon-fb" width="20" height="20" fill="#000">
                  <use xlink:href="assets/spriteSVG.svg#fb"></use>
                </svg><span class="visually-hidden">Фейсбук</span></a></li>
            <li class="contacts-list__item"><a class="contacts-list__link" href="#">
                <svg class="icon icon-insta" width="20" height="20" fill="#000">
                  <use xlink:href="assets/spriteSVG.svg#insta"></use>
                </svg><span class="visually-hidden">Инстаграм</span></a></li>
          </ul>
          <div class="offer"><b class="offer__title">Давайте дружить, это выгодно!</b>
            <p class="offer__desc">Скидка 10% для друзей из социальных сетей.</p>
          </div>
        </section>
      </footer>
      <section class="modal modal-write-us">
        <h2 class="modal-write-us__title">Напишите нам</h2>
        <form class="write-us-form" method="post" action="https://echo.htmlacademy.ru">
          <div class="form-wrapper">
            <p class="write-us-form__item">
              <label class="write-us-form__label" for="write-us-form-name">Ваше имя:</label>
              <input class="write-us-form__input" type="text" id="write-us-form-name" name="name" placeholder="Имя Фамилия">
            </p>
            <p class="write-us-form__item">
              <label class="write-us-form__label" for="write-us-form-email">Ваш e-mail:</label>
              <input class="write-us-form__input" type="text" id="write-us-form-email" name="email" placeholder="email@example.com">
            </p>
          </div>
          <p class="write-us-form__item">
            <label class="write-us-form__label" for="write-us-form-message">Текст письма:</label>
            <textarea class="write-us-form__textarea" id="write-us-form-message" name="message" placeholder="В свободной форме"></textarea>
          </p>
          <button class="btn write-us-form-btn" type="submit">Отправить</button>
          <button class="modal-close" type="button"></button>
        </form>
      </section>
      <div class="overlay"></div>
    </div>
    <script src="js/vendor.min.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
